<main class="container">
  <div class="card">
    <h2>Gestionar Instructores</h2>
    <p class="small">Gestiona la lista de Instructores.</p>
        <form id="form-ent" class="notice" (submit)="agregarInstructor($event)">
            <div class="form-row">
                <input name="nombre" placeholder="Nombre completo" required>
                <input name="especialidad" placeholder="Especialidad" maxlength="20">
            </div>
            <div class="form-row">
                <input name="email" type="email" placeholder="Correo electrónico">
                <input name="telefono" placeholder="Teléfono" maxlength="9">
                <input name="documento" placeholder="Nro documento" maxlength="8">
            </div>
            <button class="primary" type="submit">Agregar</button>
        </form>
    <ul id="lista-entrenadores"></ul>
    <h3>Lista de Instructores</h3>

        <table class="table" id="tabla-socios">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Entrenador</th>
                    <th>Correo</th>
                    <th>Contraseña</th>
                    <th>Contacto</th>
                    <th>Especialidad</th>
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let ent of listaEntrenadores">
                    <td>{{ ent.ID }}</td>
                    <td>{{ ent.ENTRENADOR }}</td>
                    <td>{{ ent.EMAIL }}</td>
                    <td>{{ ent.PASSWORD }}</td>
                    <td>{{ ent.TELEFONO }}</td>
                    <td>{{ ent.ESPECIALIDAD }}</td>
                </tr>
            </tbody>
        </table>
  </div>
</main>